@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    position: relative;   
}
.nav {
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-logo {
    display: inline-block;
    max-width: 100%;
    height: 50px;
    margin-left: 3%;
    padding: 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    /* font-size: 18px; */
    margin-right: 10%;
    font-family: 'Barlow', sans-serif;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 0 10px;
    text-decoration: none;
    color: #000;
    overflow: hidden;
  }
  
  .nav > .nav-links a:nth-child(3){
    position: relative;
}
.nav > .nav-links a:nth-child(3):before{
    content: "";
    position: absolute;
    bottom: -3.8px;
    left: 0;
    width: 100%;
    height: .7rem;
    background: #01be633f;
    border-radius: .5rem;
    transition: .35s;
}
.nav > .nav-links a:nth-child(3):hover::before{
    background: #01BE62;    
}
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      overflow: hidden;

    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #01BE633f;
      border-radius: 10px 0px 0px 10px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #000;
    }
    .nav > .nav-btn > label > span:hover{
        color: #01BE62;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #fff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 20px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > .nav-links a::before{
        width: unset;
    }
    .nav > .nav-links a:nth-child(3):before{
        
        width: 11%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  


/* nav end */

/* banner */
iframe{
    border-radius: 20px;
}
.headerContent{
    display: flex;
    width: 100%;
}

.headerContent article{
    width: 50%;
    text-align: start;
    padding: 100px 50px;
    overflow: hidden;
}
article h1{
    color: #01BE62;
    font-size: 54px;
    font-weight: 600;
    font-family: 'Fraunces', serif;
    padding-bottom: 20px;
}
.container .row .col1 article p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 28px;
    color: #1b222b;
}
.headerContent article p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 28px;
    color: #1b222b;
}
article a button{
    padding: 15px 30px;
    margin-right: 15px;
    border-radius: 30px;
    border: none;
    background-color: #01BE62;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    box-shadow:4px 10px rgba(30, 25, 68, 0.2)
}
article a .s-b{
    background-color: transparent;
    color: #1b222b;
    border: 1px solid #01BE62;
}
.banner-image{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 100px 70px;
    overflow: hidden;
}
.banner-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #01be632d;
    padding: 5px;
}

@media (max-width: 1024px){
    .headerContent{
        display: block;
    }
    .headerContent article{
        width: 100%;
        text-align: center;
    }
    .banner-image{
        width: 100%;
        padding-top: unset;
        display: flex;
        justify-content: center;
    }
    .banner-image img{
        width: 500px;
        height: auto;
    }
}
@media (max-width: 425px){
    .headerContent article h1{
        font-size: 42px;
    }
    .headerContent article p{
        font-size: 16px;
    }
    .headerContent article a button{
        margin-right: unset;
        margin-bottom: 15px;
    }
}

/* section  start*/
.container .row{
    display: flex;
    margin: 5em 0;
    flex-wrap: wrap;
}

/* first section */
.container .row  img{
    width: 400px;
    height: auto;
}
.container .row article h3{
margin-bottom: 0.5em;
font-size: 32px;
}
.container .row article p{
    font-family: 'Poppins', serif';
}

/* first section ends */

/* second section */
section .container .row-1{
    height: 100vh;
    display: flex;
    width: 100%;
    
}
section .container .col{
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
section .container .col article{
  width: 600px;
  height: fit-content;
  overflow: hidden;
  padding-inline: 50px;
  
}
@media (max-width: 768px){
    section .container .row-1{
display: block;
height: auto;
}
section .container .row-1 .col-1{
width: auto;
height: 100vh;
}
section .container .row-1 .col-2{
    width: auto;
    height: 100vh;
    }
}
@media (max-width: 425px){
    section .container .row-1 article p{
        font-size: 16px;
    }
}

/* column */


/* row 1 */

section .container .row-1 .col-1{
   background: url(./images/im-4.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}
section .container .row-1 .col-2{
 background: url(./images/im-7.jpg);
 background-repeat: no-repeat;
background-size: cover;
}

section .container .row-1 article h1{
    font-size: 30px;
       font-family: 'Fraunces', serif;
        color: white;
        margin-bottom: 1.5rem;
}
section .container .row-1 article p{
    font-size: 18px;
    color: hsl(212, 27%, 19%);
    font-family: 'Poppins', sans-serif;
  color: white;
  margin-bottom: 1.2rem;

}
section .container .row-1 article a{
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-weight: 800;
  color: white;

    padding: .5rem;
    position: relative;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

    
}
section .container .row-1 article a::before{
    content: "";
    position: absolute;
    bottom: .3rem;
    left: 0;
    width: 100%;
    height: .7rem;
    background: #01be633f;
    border-radius: .5rem;
    transition: .35s;
}
section .container .row-1 article a:hover::before{
    background: #01BE62;
    
}


/* service */
.service{
    /* height: 100vh; */
    padding-block: 0px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.service h1{
    margin-bottom: 20px;
    font-size: 42px;
    font-family: 'Fraunces', serif;
    color: #01BE62;
}
.service .row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.service .item{
    width: 450px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-family: 'poppins', serif;
    text-align: center;
    padding: 15px;
}
.service .item:hover{
    box-shadow: 4px 10px 10px 4px rgba(20,24,31,.06);
    
}
.service .item-1{
    background: #99C6D6;
    font-family: 'Fraunces', serif;
    color: #1b222b;
}
.service .item-2{
    background: #fff;
}
.service  .item-3{
    background: hsl(168, 32%, 55%);
    font-family: 'Fraunces', serif;
    color: #1b222b;

}
.service .item-4{
    background: #fff;
}
/* icon */

ion-icon{
    color: #FFf;
    font-size: 74px;
}  
    
@media (max-width:768px) {
    .service{
        margin-top: 15em;
    }
    .service .row-1{
        justify-content: center;
    }
    .service .item-2{
        height: 200px;
    }
    .service .row-2{
        flex-direction: column-reverse;
    }
    .service .row-2 .item-4{
        height: 200px;
    }
}
@media (max-width:768px) {

} 
/* end service */

/* partner */
.partner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    margin-top: 20px;
}
.partner .image img{
    width: 400px;
    height: auto;
}
.partner article {
    width: 500px;
}
.partner article h3{
    font-family: 'fraunces', serif;
    font-size: 24px;
    margin-bottom: 10px;
}
.partner article p{
    font-family: 'poppins', serif;
    font-size: 16px;
    line-height: 1.5em;
}

@media (max-width:768px) {
    .partner{
        flex-direction: column-reverse;
        height: 100vh;
    }
    .partner h3{
        text-align: center;
    }
}

/* partner end */

 /* future */
.future{
    height: 100vh;
}
.future h1{
    text-align: center;
    font-size: 42px;
    font-family: 'Fraunces', serif;
}
.future .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    
}
.future .row  img{
    border-radius: 20px;
    width: 400px;
    height: auto;
    animation: customAni 2s linear 0s infinite normal none;
}
@keyframes customAni {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
.future .row article p{
    line-height: 30px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    margin-bottom: 10px;
}

.future .row article a{
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-weight: 800;
  color: black;
    padding: .5rem;
    position: relative;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

    
}
.future .row article a::before{
    content: "";
    position: absolute;
    bottom: .3rem;
    left: 0;
    width: 100%;
    height: .7rem;
    background: #01be633f;
    border-radius: .5rem;
    transition: .35s;
}
.future .row article a:hover::before{
    background: #01BE62; 
}

@media (max-width:768px) {
    .future .row{
        gap: 2em;
        margin-bottom: 100px;
        flex-wrap: wrap;
    }
    .future article{
        width: 500px;
    }
}
/* future end */


/* watch */

@media (max-width:768px) {
    .watch{
        flex-direction: column;
        align-items: center;
    }
}


/* footer starts here */
section footer{
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: hsl(168, 32%, 55%);
    /* background-color: #232A34; */
} 
section footer .logo{
   color: hsl(167, 40%, 24%);
    margin-bottom: 1.5rem;
    font-family: 'Fraunces', serif;
    
}
section footer .link{
    margin-bottom: 1rem;
    font-family: 'Barlow', sans-serif;

}
section footer .link ul{
    overflow: hidden;
}
section footer .link ul a{
    padding: 1rem;
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    cursor: pointer;
}
section footer .link ul a:hover{
    color:white;
}
section footer .social-icons img{
    padding: 1rem;
    cursor: pointer;
}
section footer .social-icons img:hover{
    filter: brightness(0) invert(1);
}
